@use "sass:color";
@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir_Book.ttf") format("truetype");
}

$dark: hsl(10, 5%, 10%);
$light: color.adjust($dark, $lightness: 88%);
$grey: color.adjust($dark, $lightness: 3%);
$accent: hsl(3, 69%, 47%);

$font-size-base: 18px;
$font-family-base: "Avenir Book", sans-serif;
$color-base: $dark;
$color-bg: $light;

$font-family-heading: "Avenir Book", sans-serif;
$font-weight-heading: 400;
$color-heading: $dark;

:root {
  --dark: #{$dark};
  --light: #{$light};
  --grey: #{$grey};
  --accent: #{$accent};
}
