@charset "utf-8";

@use "abstracts/variables";

@use "base/reset";
@use "base/typography";
@use "base/base";

body {
  padding: 2rem 7rem;
}

@media screen and (max-width: 730px) {
  body {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 1rem;
  }
}
